.header {
  background-color: #003566; }

.imagenesDeExamenes {
  background-color: #ababfa; }

.piePagina {
  background-color: #003566; }

.body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column; }

.grilla {
  display: grid;
  grid-template-areas: "header header header header header" " . presentacion presentacion presentacion . " " . article article article . " " . section section section . " "imagenesDeExamenes imagenesDeExamenes imagenesDeExamenes imagenesDeExamenes imagenesDeExamenes" "footer footer footer footer footer";
  grid-template-rows: 20vh auto auto auto auto 20vh;
  grid-template-columns: 10vw auto auto auto 10vw; }

.header {
  grid-area: header; }

.presentacion {
  grid-area: presentacion;
  margin: 5px 0px; }
  .presentacion__video {
    width: 100%;
    min-height: 700px; }

.article {
  grid-area: article;
  border: solid 3px;
  padding: 3px; }
  .article__p {
    margin: 5px; }
  .article__ul {
    margin-left: 25px;
    margin-right: 5px; }

.formularioAdmision {
  grid-area: section;
  border: solid 3px;
  margin: 5px; }
  .formularioAdmision div {
    margin: 5px; }

.imagenesDeExamenes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5px;
  grid-area: imagenesDeExamenes; }
  .imagenesDeExamenes__imagen {
    max-width: 22vw; }

.piePagina {
  display: flex;
  flex-direction: row;
  height: 22vh;
  justify-content: space-around;
  align-items: center;
  grid-area: footer; }
  .piePagina__ul {
    list-style-type: none;
    color: #fafafa;
    margin: 3px 0px; }
  .piePagina__a {
    text-decoration: none;
    color: #fafafa; }
  .piePagina__a:hover {
    color: #fafafa; }

@media only screen and (max-width: 1024px) {
  .encabezado {
    font-size: 15px; }
  .piePagina {
    font-size: 15px; } }

@media only screen and (max-width: 768px) {
  .grilla {
    grid-template-areas: "header" "presentacion" "article" "section" "footer";
    grid-template-rows: auto;
    grid-template-columns: 100%; }
  .encabezado__navegacion {
    width: 65%;
    justify-content: flex-start; }
    .encabezado__navegacion__a {
      font-size: 13px; }
  .encabezado__logoShakespeare {
    display: none; }
  .encabezado__escudoShakespeare {
    display: block;
    margin-left: 1rem; }
  .imagenesDeExamenes {
    display: none; }
  .piePagina {
    font-size: 13px; }
    .piePagina__p {
      display: none; } }
