@import "./variables";
@import "./backgrounds";

.body{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

.grilla{
    display: grid;
    grid-template-areas: 
    "header header header header header"
    " . presentacion presentacion presentacion . "
    " . article1 article1 foto1 . "
    " . article2 article2 article2 . "
    " . article3 article3 article3 . "
    " . foto2 article4 article4 . "
    " . section section section . "
    "imagenesDeExamenes imagenesDeExamenes imagenesDeExamenes imagenesDeExamenes imagenesDeExamenes"
    "footer footer footer footer footer";
    grid-template-rows: 20vh auto auto auto auto auto auto auto 20vh;
    grid-template-columns: 10vw auto auto auto 10vw;
}

.header{
    grid-area: header;
}

.presentacion{
    grid-area: presentacion;
    margin: 5px 0px;
    &__video{
        width: 100%;
        min-height: 700px;
    }
}

.article1{
    grid-area: article1;
    &__p{
        margin: 5px;
    }
    &__h2{
        color: $color-encabezados;
    }
    &__h5{
        color: $color-encabezados;
    }
}

.article2{
    grid-area: article2;
    &__p{
        margin: 5px;
    }
    &__ul{
        margin-left: 25px;
        margin-right: 5px;
    }
    &__h2{
        color: $color-encabezados;
    }
    &__h5{
        color: $color-encabezados;
    }
}

.article3{
    grid-area: article3;
    &__p{
        margin: 5px;
    }
    &__ul{
        margin-left: 25px;
        margin-right: 5px;
    }
    &__h2{
        color: $color-encabezados;
    }
    &__h5{
        color: $color-encabezados;
    }
}

.article4{
    grid-area: article4;
    &__p{
        margin: 5px;
    }
    &__h5{
        color: $color-encabezados;
    }
    &__h5{
        color: $color-encabezados;
    }
}

.foto1{
    grid-area: foto1;
    align-content: center;
}

.foto2{
    grid-area: foto2;
    align-content: center;
}

.formularioAdmision{
    grid-area: section;
    border: solid 3px;
    border-color: #003566;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 3px 10px;
    div{
        margin: 2px;
    }
}

.imagenesDeExamenes{ 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5px;
    grid-area: imagenesDeExamenes;
    &__imagen{
        max-width: 22vw;
    }
}

.piePagina{
    display: flex;
    flex-direction: row;
    height: 22vh;
    justify-content: space-around;
    align-items: center;
    grid-area: footer;
    &__ul{
        list-style-type: none;
        color: $color-letra;
        margin: 3px 0px;
    }
    &__a{
        text-decoration: none;
        color: $color-letra;
    }
    &__a:hover{
        color: $color-letra;
    }
}

@media only screen and (max-width:1024px){

    .piePagina{
        font-size: $tamaño-letra-grande*0.75;
    }
}

@media only screen and (max-width:768px) {

    .grilla{
        grid-template-areas: 
        "header"
        "presentacion"
        "article1"
        "foto1"
        "article2"
        "article3"
        "foto2"
        "article4"
        "section"
        "footer";
        grid-template-rows: auto;
        grid-template-columns: 100%;
    }

    .presentacion{
        margin: 5px;
    }

    .article{
        margin: 5px;
    }

    .formularioAdmision{
        margin: 5px;
    }

    .imagenesDeExamenes{
        display: none;
    }

    .piePagina{
        font-size: $tamaño-letra-grande*0.65;
        &__p{
            display: none;
        }
    }
}